<div class="container">
    <div class="row well">
        <div class="col-md-12">
            <div class="jumbotron">
                <center>
                    <div class="img-responsive">
                       
                    </div>
                    <h1>DEPARSYS ®</h1>
                    <p><h3>Sistema de Alquiler Inmobiliario</h3></p>
                    <p><h5>Version 1.0</h5></p>
                </center>        
            </div>
        </div
    </div>
</div>

