<h1>Editar Inquilino</h1>

<%= render 'form' %>


<%= link_to glyph(:eye_open) + 'VER',  @inquilino %> ||

<%= link_to glyph(:arrow_left) + ' ATRAS', inquilinos_path , class: "btn btn-default btn-xs"%>