<h1>Editar Caja</h1>

<%= render 'formedit' %>



<%= link_to glyph(:eye_open) + 'VER', @caja,  class: "btn btn-info btn-xs" %> ||

<%= link_to glyph(:arrow_left) + ' ATRAS', cajas_path , class: "btn btn-default btn-xs"%>